body
{
    background-image: url(img/banner_1.jpg);
    background-size: cover;
}
.titulo
{
    width: 90%;
    background-color: #003e8057;
    margin-left: 80px;
    height: 80px;
    border-radius: 20px;
    display: flex;   
 
    
}
.titulo h1
{
    text-align: center;
    color: aliceblue;
    width: 50%;
    font-family: 'Fira Sans', sans-serif; 
    margin-left: 10px;   
}
.logo
{
    width: 40%;
}
.logo img
{
    width: 60px;
    margin-left: 730px;
    padding-top: 10px;
    
}
#banner
{
    width:70%;
    margin-left: 300px;
    border-radius: 20px;
    height: 700px;
    position: absolute;
    margin-top: 50px;
    display: block;
}
.info
{
    width: 25%;
    background-color: rgba(23, 72, 115, 0.664);
    border-radius: 10px;
    padding: 15px;
    position: relative;
    top: 90px;
    left: px;
    border: 2px solid yellow;
}
.info p
{
    font-size: 18px;
    color: aliceblue;
    font-family: 'Fira Sans', sans-serif; 
    text-align: center;
}
#cards
{
    position: relative;
    margin-top: 700px;
    width: 100%;
    height: 600px;
    background-color:blueviolet;
    border-radius: 15px;
    background-image: url(img/pattern.jpg);
    background-size:cover;

       
}
.grupos
{
    color:blue;
    margin-left: 30px;
    padding-top: 2px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
}
#imagenes
{
    display: inline-flex;
    margin-left: 0px;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}
.logoc
{
    padding-bottom: 20px;
}
ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color: white;
    text-decoration: none;
    font-family:'Fira Sans', sans-serif;
}
a:hover{
    color:rgb(136, 136, 56);
}
/* ... Estilos anteriores ... */

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.noticia {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.noticia img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.noticia h2 {
    font-size: 1.2em;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

.noticia p {
    font-size: 0.9em;
    color: rgb(255, 255, 255);
}

.noticia img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    display: block;
    margin: 0 auto;}
    

.noticia a {
    display: block;
    text-align: right;
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}




